@import "base";

.logo {
  .db;
  .h64;
  background: url('../image/logo.png') left center no-repeat;
  background-position: 0 0;
}

.header_tab {
  .fr;
  .h64;
  li {
    a {
      .db;
      .fz18;
      .tc;
      &:hover {
        color: @current
      }
    }
    .w80;
    .fl;
    height: 62px;
  }
}

.header_curPage {
  color: @current;
  .w80;
  .h64;
  .db;
  .tc;
  border-bottom: 2px solid @theme;
}
