@import "Color";

body {
  background-color: @bgColor;
}

/*覆盖样式*/
.ant-layout-header {
  background-color: @bgColor;
  border-bottom: 1px solid @bdColor;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

.center {
  padding-top: 10px;

  .ant-layout, .ant-layout-sider {
    background-color: @bgColor;
  }

  .ant-menu {
    text-align: center;
    margin-right: 10px;
    background-color: #fff;
  }
  .ant-menu-inline, .ant-menu-vertical {
    border: 1px solid @bdColor;
    border-radius: 10px;
    background-color: #fff;
  }

  .ant-layout-content {
    padding-left: 10px;
    border: 1px solid @bdColor;
    border-radius: 10px;
    background-color: #fff;
  }
}