@import "base";

[class^="ant-col-"] {
    padding: 0px 8px;
    .movie_item {
        .movie_img {
            height: 280px;
            img {
                width: 100%;
                height: 100%;
            }
        }
        .movie_info {
            height: 20px;
            .mt8;
            .movie_title {
                .fz16;
                .lh20;
                .fb;
                .fl;
                .omit;
                .h20;
                width: 85%;
            }
            .movie_score {
                .h20;
                .lh20;
                .fz18;
                .fr;
                .tr;
                color: @theme;
                width: 15%;
            }
            .movie_genre {
                .movie_score;
                .fz14;
                color: @genre;
            }
        }
    }
}


